{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/vehicle.cljk" ".cljc"
  "src/vehicle/backend.cljk" ".cljc"
  "src/vehicle/beam.cljk" ".cljc"
  "src/vehicle/builder.cljk" ".cljc"
  "src/vehicle/controls.cljk" ".cljc"
  "src/vehicle/ground.cljk" ".cljc"
  "src/vehicle/implicit.cljk" ".cljc"
  "src/vehicle/integrator.cljk" ".cljc"
  "src/vehicle/jbeam.cljk" ".cljc"
  "src/vehicle/models/garage.cljk" ".cljc"
  "src/vehicle/models/sedan.cljk" ".cljc"
  "src/vehicle/node.cljk" ".cljc"
  "src/vehicle/powertrain.cljk" ".cljc"
  "src/vehicle/rigid_chassis.cljk" ".cljc"
  "src/vehicle/softbody.cljk" ".cljc"
  "src/vehicle/triangle.cljk" ".cljc"
  "src/vehicle/vec3.cljk" ".cljc"
  "src/vehicle/vehicle.cljk" ".cljc"
  "src/vehicle/wheel.cljk" ".cljc"
  "test/vehicle/backend_test.cljk" ".cljc"
  "test/vehicle/beam_test.cljk" ".cljc"
  "test/vehicle/builder_test.cljk" ".cljc"
  "test/vehicle/ground_test.cljk" ".cljc"
  "test/vehicle/implicit_test.cljk" ".cljc"
  "test/vehicle/integrator_test.cljk" ".cljc"
  "test/vehicle/jbeam_test.cljk" ".cljc"
  "test/vehicle/models/garage_test.cljk" ".cljc"
  "test/vehicle/models/sedan_test.cljk" ".cljc"
  "test/vehicle/node_test.cljk" ".cljc"
  "test/vehicle/powertrain_test.cljk" ".cljc"
  "test/vehicle/rigid_chassis_test.cljk" ".cljc"
  "test/vehicle/softbody_test.cljk" ".cljc"
  "test/vehicle/vehicle_test.cljk" ".cljc"
  "test/vehicle/wheel_test.cljk" ".cljc"
  "test/vehicle_test.cljk" ".cljc"}}
